body{
 font-family: 'Montserrat-Regular', sans-serif;   
}


.container-fluid {
    padding: 7% 5% 5%;
}
h1,h2,h3,h4,h5,h6{
font-family: 'Montserrat-Bold', sans-serif;

}
.bg-white{
    background-color: white;
}
 #first-section{
        background-image: url(../images/1%20bg.png);
        background-size: cover;
        background-position: center bottom;  
}

.download-button {
    margin: 5% 3% 5% 0;
}
.title-bold{
    font-weight: 800;
}
.big-heading {
    padding-top: 10%;
    font-size: 3.3rem;
    line-height: 1.5;
}
.title-image {
  width: 45%;
  position: absolute;
  right: 25%;
}
#second-section{
           background-image: url(../images/2%20bg.png);
        background-size: cover;
        background-position: center bottom; 
}
.image-back{
    width: 60%
}

.image-detail{
    width: 100%;
}
.steps{
   width: 80%; 

}
.why-text{
    line-height: 1.8;
  
    text-align: justify;
}
.bigger-text{
    font-size: 4rem;
}

.no-padding{
    padding: 0!important;
}

.padding-side{
    padding: 0 20%;
}

@media (max-width: 1028px)  {

  .title-image {
  
    position: static;
   

  }
    .steps{
   width: 100%; 
    position: static;

}
    
    .title{
         text-align: center;
    }
    .big-heading{
        margin-top: 12%;
         font-size:2.5rem;   
          text-align: center;
    }
        #first-section{
      
        background-position: center right;  
}
    #second-section{
           background-image: url(../images/2%20bg.png);
        background-size: cover;
        background-position: center left; 
}

}



@media only screen and (max-width: 420px) {


    .big-heading{
         font-size:2.2rem;   
    }

}
@media only screen and (max-width: 320px) {


    .big-heading{
         font-size:1.7rem;   
    }

}
